body{
    width: 100%;
    height: 100%;
}  
header{
    background-color: brown;
    margin: auto; 
    width: 100%;
    height: 120px;
    margin-bottom: 50px;
}
header img{
margin: auto;
    position: relative;
    left: 92%;
    bottom: 90px;
    height: 140px;

}

.menu{
    position: fixed;
    float: right;
    bottom: 100px;
    border: 1px solid black;
    margin-right: 0;
    margin-left: 0;
    width: 14%;

}
.menu nav{
    margin: auto;
    padding: 0;
}
header h1{
    width: auto;
    text-align: center;
    height: auto;
    position: relative;
    left: 0;
    font-size: 50pt;
    margin: auto;
    top: 15px;
}

img{
    width: 100px;
    height: 100px;
}
#caixa{
    background-color: #3b0b33;
    width: 70%;
    margin: 0 auto;
    height: 1100px;   
    
}

#caixa figure{
    margin: 0px;
    position: relative;   
    float: left;
    padding: 10px;
    
}
#caixa p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    text-align: center;
    color: white;
}

#caixa img{
    margin: 0 auto;
    position: relative;
    }
#caixa2{
    background-color: #9faa3d;
    width: 70%;
    margin: 0 auto;
    height: 500px;
}
#caixa2 img{
    margin: 0 auto;
    position: relative;
    left: 400px;
    }

#caixa2 figure{
    margin: 0 auto;
    position: relative;
    top: 150px;
}

#caixa2 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    text-align: center;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    text-align: center;
    background-color: black;
    color: white;
}

#caixa3{
    background-color: #E349DD;
    width: 70%;
    margin: 0 auto;
    height: 500px;
}
#caixa3 img{
    margin: 0 auto;
    position: relative;
    left: 400px;
    }

#caixa3 figure{
    margin: 0 auto;
    position: relative;
    top: 150px;
}

#caixa3 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    text-align: center;
}

a{
    text-decoration: none;
    
}
li {
    list-style-type: none;
  }
.menu{
   background-color: #0AC5FA; 
}

#Temperos{
    background-color: #3BE344;
    width: 70%;
    margin: 0 auto;
    height: 500px;

}
#Temperos img{
    margin: 0 auto;
    position: relative;
    left: 400px;
    }

#Temperos figure{
    margin: 0 auto;
    position: relative;
    top: 150px;
}

#Temperos p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    text-align: center;
}


#Doces{
    background-color: #3b0b33;
    width: 70%;
    margin: 0 auto;
    height: 500px;   
    
}

#Doces figure{
    margin: 0px;
    position: relative;   
    float: left;
    padding: 10px;
    
}
#Doces p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    text-align: center;
    color: white;
}

#Doces img{
    margin: 0 auto;
    position: relative;
    }

    #Bebidas{
        background-color: #FDA442;
        width: 70%;
        margin: 0 auto;
        height: 1150px;   
        
    }
    
    #Bebidas figure{
        margin: 0px;
        position: relative;   
        float: left;
        padding: 10px;
        
    }
    #Bebidas p{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        position: relative;
        text-align: center;
        color: white;
    }
    
    #Bebidas img{
        margin: 0 auto;
        position: relative;
        }


        #Higiene{
            background-color: #B2FFF0;
            width: 70%;
            margin: 0 auto;
            height: 910px;   
            
        }
        
        #Higiene figure{
            margin: 0px;
            position: relative;   
            float: left;
            padding: 10px;
            
        }
        #Higiene p{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            position: relative;
            text-align: center;
            color: black;
        }
        
        #Higiene img{
            margin: 0 auto;
            position: relative;
            }
            #Verduras{
                background-color: #FFA780;
                width: 70%;
                margin: 0 auto;
                height: 800px;   
                
            }
            
            #Verduras figure{
                margin: 0px;
                position: relative;   
                float: left;
                padding: 10px;
                
            }
            #Verduras p{
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                position: relative;
                text-align: center;
                color: white;
            }
            
            #Verduras img{
                margin: 0 auto;
                position: relative;
                }
                #Frutas{
                    background-color: #3b0b33;
                    width: 70%;
                    margin: 0 auto;
                    height: 700px;   
                    
                }
                
                #Frutas figure{
                    margin: 0px;
                    position: relative;   
                    float: left;
                    padding: 10px;
                    
                }
                #Frutas p{
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    position: relative;
                    text-align: center;
                    color: white;
                }
                
                #Frutas img{
                    margin: 0 auto;
                    position: relative;
                    }
                    #Peixes{
                        background-color: #474023;
                        width: 70%;
                        margin: 0 auto;
                        height: 500px;   
                        
                    }
                    
                    #Peixes figure{
                        margin: 0px;
                        position: relative;   
                        float: left;
                        padding: 10px;
                        
                    }
                    #Peixes p{
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        position: relative;
                        text-align: center;
                        color: white;
                    }
                    
                    #Peixes img{
                        margin: 0 auto;
                        position: relative;
                        }           